{% extends "base.html" %}
{% load static %}

{% block content %}

{% for subject in subjects%}
<!-- <details> create collapsible section -->
<details class="border-2 p-4 border-blue-500 mb-2 rounded-3xl shadow-md open:bg-blue-50">
    <!-- <summary> is the clickable part of the details -->
  <summary class="flex justify-between items-center cursor-pointer list-none">
    {{ subject.subject_name }}
  </summary>

  <div class="mt-3 ml-4 space-y-2">
    {% for topic in subject.topics.all %}
      <div class="text-sm pl-2 border-l-4 border-blue-300">{{ topic.topic_name }}</div>
    {% endfor %}
  </div>
</details>


{% endfor %}
 
{% endblock %}